.div1{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    background-color: aqua;
    cursor: pointer;
}

/* hover */
.div1:hover{
    background-color: aquamarine;
}

/* active */
.div1:active{
    background-color: tomato;
}

.btn{
    margin-top: 20px;
    background-color: aqua;
    cursor: pointer;
    padding: 10px;
    
}
.btn:hover{
    background-color: aqua;
}

.btn:active{
    background-color: darkblue;
}

input:focus{
    background-color: coral;
}


/* 가상 클래스 선택자 */
.fruits *:first-child{
    background-color: red;
}

.fruits *:last-child{
    background-color: blueviolet;
}

.fruits li:nth-child(2){
    background-color: green;
}

.fruits li:nth-child(2n+1){
    background-color: tomato;
}

.fruits *:not(li){
    color: blue;
}

/*  가상 요소 선택자 */
.box::after{
    content: '목록';
}

.box::before{
    content: '추천';
}


/* 속성 선택자 : []  */
[disabled]{
    background-color: red;
}

input:not([disabled]) {
    background-color: blue;
}



/* 속성값이 특정 단어를 포함하는 요소 ~= */
[class~='note']{
    background-color: yellow;
}

/* 속성값이 특정 접두사로 시작하는 경우 ^= */
[href^='https']{
    color: red;
}

/* 속성값이 특정 접미사로 끝나는 경우 $= */
/* 속성값이 특정 문자열을 포함하는 요소 *= */
